body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: Arial, sans-serif;
  background-image: url('https://cdn.pixabay.com/photo/2021/03/01/18/45/abstract-6064298_960_720.jpg');
  background-size: cover;
}

div{
  background-color: whitesmoke;
  font-family: 'Helvetica Neue',Helvetica,Arial}
/* I've addded this */
.title, .instructPara {
  text-align: center;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
}

h1, p {
  padding-top: 30px;
  text-align: center;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  padding: 30px;
  max-width: 500px;
  background-color: #589dda;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
  margin-bottom: 20px;
  font-weight: bold;
}

select {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f1f1f1;
}

button[type="submit"] {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #70b0ca;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #70b0ca;
}

/* I've addded this */
.homePageNavButton {
  margin-top: 20px;
  margin-left: 875px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #70b0ca;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* I've addded this */
.homePageNavButton:hover {
  background-color: #70b0ca;
  transform: scale(1.2);
}

Footer {position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#589dda;
  color: black;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 12px;
} 

/* I've addded this */
.homePageFooter {position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  background-color: #dce6b8;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 12px;
} 

.Planner-header {
  padding: 30px;
  text-align: left;
  background: #589dda;
  color: #273336;
  font-size: 35px;
  font-family: Impact, Haettenschweiler, 'Arial Bold', sans-serif;
}


.App-Footer {position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 12px;
}  

table {
  background-color: whitesmoke;
  border: 2px solid forestgreen;
  margin-left: 30px;
  margin-top: 30px;
  width: 800px;
  height: 130px;
  border-collapse: collapse;
  table-layout:auto;
  float: left;
}
  

td {
  text-align: center;
  border: 1px solid black;
  
}

.table-cell {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
}

.table-cell::after {
  content: '';
  position: absolute;
  top: 0;
  right: -4px;
  bottom: 0;
  width: 10px;
  cursor: col-resize;
  z-index: 1;
}

.table-cell:hover::after {
  background-color: #ccc;
}

.handle{
  background-color: whitesmoke;
  height: 150px;
  border-style: outset;
}

table tbody tr td {
  border-width: 2px;
  border-style: solid;
  border-color: forestgreen;
  border-collapse: collapse;
  
}

th{
  font-size: small;
  color: black; 
  width: 100px;  
  height: 10px;
  vertical-align:middle;
}

th span { 
  writing-mode: vertical-rl; /* +90°: use 'tb-rl' */
  text-align: center;          /* +90°: use 'right' */
  padding:150px 30px 40px; }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .row::after {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .selected-courses {
    display: auto;
    flex-wrap: wrap;
    margin-bottom: 10px;
    font-size: 13px;;
  }
  
  .selected-course {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 3px;
    margin-bottom: 1px;
  }
  
  .selected-course button {
    margin-left: 5px;
  }
  
  .add-course-button {
    margin-top: 10px;
    font-size: small;
    background-color: #70b0ca;
    color: #fff;
    border: none;
    padding: 2px 6px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .remove-button {
    font-size: 10px;
    background-color: #db4150;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Styling for the search input field */
input[type="text"] {
  width: 70%;
  height:22px;
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
}

::placeholder{
  color: rgb(87, 84, 84);
}

/* Styling for the degree options dropdown */
datalist {
  margin-top: 5px;
  padding: 0;
}

datalist option {
  padding: 5px;
  cursor: pointer;
}

datalist option:hover {
  background-color: #f5f5f5;
}


/* styles for the main layout to display nested boxes */
.boxesGroup {
  display: grid;
  grid-template-columns: repeat(4, 150px) 200px 100px 200px 100px;
  grid-template-rows: 200px 200px 200px;
  gap: 1vw;
  place-items: center;
  background-color: whitesmoke;
  cursor: default;
  
}

/* styles for nested boxes */
.box {
  margin-left: 1px;
  height: 150px;
  width: 150px;
  border-radius: 15px;
  cursor: -webkit-grab; cursor: grab;
  display: inline;
}

.box:active{
  cursor: -webkit-grabbing, grabbing;
}

/* styles for centering content in box */
.content {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: black;
  background-color: lightgrey;
}

.semester-labels {
  text-align: left;
  margin-left: 10px;
}

.left-semester {
  text-align: left;
  margin-left: auto;
  font-weight: 600;
}

.right-semester {
  text-align: right;
  margin-left: 600px;
  font-weight: 600;
}

.blank-space {
  width: 20%;
  height: 600px; 
  background-color: #ddd; 
  padding-left: 10px;
  
}